body, html {
  width: 100%;
  height: 100%
}

.ya-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ya-container {
  display: inline-block;
}

label {
  display: block;
}